body{
    margin: 0;
    background-image: linear-gradient(to top left,lightgrey, darkblue);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: aliceblue;
}

.title{
    margin: 0.5em auto;
    text-shadow: 1px 1px 10px black;
}

button{
    padding: 10px 20px;
    background: transparent;
    border: 4px solid aliceblue;
    cursor: pointer;
    border-radius: 10px; 
    text-shadow: 1px 1px 1px black;
    transition: all 500ms;
    opacity: 0.8;
    color: inherit;
}

button:hover{
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 5px 5px 10px black;
}

#activity{
    padding: 1em;
    height: 10vh;
}