body {
    font-family: 'Combo';
    margin: 1px;
    text-align: center;
    background-color: rgb(61, 57, 57);
    color:rgb(78, 14, 14);
}

img {
    width: 100px;
}

.section{
    height: 343px;
    border: 1px solid white; 
    border-radius: 10px;
}

#crown{
    font-size: 35px;
    opacity: 100;
    margin-bottom: 0;
    transition: 2s;
}

#crown:hover{
    animation:crown 2s ease-in-out 0s infinite normal;
}

@keyframes crown {
    0%{margin-bottom: 0px;}
    50%{margin-bottom: 5px;}
    100%{margin-bottom: 0px;}
}

#hero_section{
    background-image: url("images/Queens.jpg");
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}
.hero_text{
    display: flex;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#visit_text{
    margin-top: 0;
    font-size: 32px;
    background-color: burlywood;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.subtext{
    background-color: rgb(180, 188, 223);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    width: 350px;
}

#activities_section{
    margin-top: 0;
    background: rgb(211, 242, 137);
}

#activities_text{
    margin:20px auto;
    font-size: 16px;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(146, 243, 198);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#activities_text:hover{
    text-decoration: underline;
}

#activities{
    display:flex;
    height: 240px;
    justify-content: space-around;
    align-items: center;
}

.activities_pics{
    border-radius: 50%;
    width: 70px;
    transition: 0.5s;
}

#theater_hover:hover{
    margin-bottom: 10px;
}

#park_hover:hover{
    margin-bottom: 10px;
}

#soccer_hover:hover{
    margin-bottom: 10px;
}

.activity_width{
    width: 200px;
}

#guide_section{
    background-color:rgb(100, 183, 235);
    font-size: 12px;
}

#guide_card{
    border:1px solid rgb(255, 213, 0);
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    background-color: rgb(216, 35, 74);
    box-shadow: 4px 4px 5px black;
    transition: 0.5s;
}

#guide_card:hover{
    box-shadow: 5px 5px 7px black;
    border:2px solid rgb(255, 213, 0);
}

#guide_img{
    padding-left: 5px;
    width: 70px;
}

#guide_text{
    width: 120px;
    margin-left: 20px;
}