html{
    font-size: 0.8rem;
}

body{
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: 500px;
}

/*Typography*/

h1{
    color: white;
    font-size: 3.8rem;
    font-weight: 300;
    margin: 0;
}

h3{
    color: #F18119;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3125rem;
    margin: 0;
}

.sloganText{
    background-image: linear-gradient(to right, #FF713B,#FFA51D);
    background-size: 93% 10px;
    background-repeat: no-repeat;
    background-position: top center;
}

.mainAsideText{
    text-align: center;
}

/*Layout*/

.asideContainer{
    background-image: url(../images/dark-ribs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 60vh;
    box-sizing: border-box;
}

.sloganText{
    padding: 15px;
}

.mainAsideText{
}

.mainAsideSubtext{
}